/app/.gradle/
# Default ignored files
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

**/logs/

.settings
bin
.project*
.classpath
.idea/
.factorypath
**/.build
**/build
app/build/tmp/compileJava/compileTransaction/stash-dir/Progression.class.uniqueId1
app/build/tmp/compileJava/compileTransaction/stash-dir/Progression.class.uniqueId1
app/.gradle/8.5/executionHistory/executionHistory.bin
app/build/tmp/compileJava/previous-compilation-data.bin
